**The Interactive Shell**

In [1]:
print('Hello world!')

Hello world!

**Entering Expressions into the Interactive Shell**

In [7]:
 2 + 2

4

In [8]:
2

2

In [9]:
'42' + 3

TypeError: can only concatenate str (not "int") to str

**“TypeError: Can't convert 'int' object to
str implicitly"**

Errors Are Okay !
---
Programs will crash if they contain code the computer can’t understand, which
will cause Python to show an error message. An error message won’t break
your computer, though, so don’t be afraid to make mistakes. A crash just means
the program stopped running unexpectedly.

#  Python Operator Precedence

Operator precedence determines the order in which Python evaluates operators in expressions.

##  Precedence Table (Highest to Lowest)

| Precedence Level | Operators | Description |
|------------------|-----------|-------------|
| 1 (Highest) | `()` | Parentheses |
| 2 | `**` | Exponentiation |
| 3 | `+x`, `-x`, `~x` | Unary plus, minus, bitwise NOT |
| 4 | `*`, `/`, `//`, `%` | Multiplication, division, floor division, modulo |
| 5 | `+`, `-` | Addition, subtraction |
| 6 | `<<`, `>>` | Bitwise shift operators |
| 7 | `&` | Bitwise AND |
| 8 | `^` | Bitwise XOR |
| 9 | `|` | Bitwise OR |
| 10 | `in`, `not in`, `is`, `is not`, `<`, `<=`, `>`, `>=`, `!=`, `==` | Comparisons |
| 11 | `not` | Logical NOT |
| 12 | `and` | Logical AND |
| 13 | `or` | Logical OR |
| 14 (Lowest) | `=`, `+=`, `-=`, etc. | Assignment operators |

##  Associativity

- **Left-to-right** for most operators:  
  `10 - 5 - 2` → `(10 - 5) - 2 = 3`
- **Right-to-left** for `**` and assignment operators:  
  `2 ** 3 ** 2` → `2 ** (3 ** 2) = 512`

##  Example

The following example demonstrates how precedence affects evaluation:

```python
result = 3 + 4 * 2 ** 2
# Step 1: 2 ** 2 = 4
# Step 2: 4 * 4 = 16
# Step 3: 3 + 16 = 19
print(result)  # Output: 19

In [ ]:
# Demonstrating operator precedence in Python

result = 3 + 4 * 2 ** 2

# Breakdown:
# 2 ** 2 = 4
# 4 * 4 = 16
# 3 + 16 = 19

print("Result:", result)  # Output: 19

# Additional example to show associativity
a = 2 ** 3 ** 2  # 2 ** (3 ** 2) = 2 ** 9 = 512
print("Associativity Example (2 ** 3 ** 2):", a)

**The Integer, Floating-Point, and String Data Types**

---
###  Common Data Types in Python

| Data Type              | Example Values                             |
|------------------------|--------------------------------------------|
| **Integers**           | -2, -1, 0, 1, 2, 3, 4, 5                    |
| **Floating-point numbers** | -1.25, -1.0, -0.5, 0.0, 0.5, 1.0, 1.25      |
| **Strings**            | `'a'`, `'aa'`, `'aaa'`, `'Hello!'`, `'11 cats'` |

###  String Concatenation

**String concatenation** is the process of joining strings together to form a single string.

#### Common Methods:

| Method        | Syntax Example                               | Output                   |
|---------------|-----------------------------------------------|--------------------------|
| `+` operator  | `'Hello' + ' ' + 'World'`                     | `'Hello World'`          |
| `join()`      | `' '.join(['Python', 'is', 'fun'])`           | `'Python is fun'`        |
| f-strings     | `name = 'Alice'; f'Hello, {name}!'`           | `'Hello, Alice!'`        |
| `.format()`   | `'Hello, {}'.format('Bob')`                   | `'Hello, Bob'`           |

>  Note: All parts must be strings. Use `str()` to convert numbers if needed.

In [ ]:
# Using + operator
greeting = "Hello" + " " + "World"
print(greeting)  # Output: Hello World

# Using join()
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)  # Output: Python is fun

# Using f-strings
name = "Alice"
message = f"Hello, {name}!"
print(message)  # Output: Hello, Alice!

# Using format()
formatted = "Hello, {}".format("Bob")
print(formatted)  # Output: Hello, Bob

# Example with type conversion
age = 25
print("Age: " + str(age))  # Output: Age: 25

In [11]:
"neha"+3

TypeError: can only concatenate str (not "int") to str

###  String Replication in Python

**String replication** is the process of repeating a string using the `*` operator.

####  Syntax:
```python
string * number

In [ ]:
# Examples of string replication

print('ha' * 3)      # Output: hahaha
print('-' * 5)       # Output: -----
print('abc ' * 2)    # Output: abc abc
print('Hello' * 0)   # Output: (empty string)

In [10]:
"neha"*3.0

TypeError: can't multiply sequence by non-int of type 'float'

##  Storing Values in Variables

A **variable** is like a labeled box in memory where you can store a single value. You can store results of expressions in variables and reuse them later.

---

###  Assignment Statements

To store a value in a variable, use an **assignment statement**:

In [ ]:
spam = 42

This assigns the value 42 to the variable spam.

You can think of it like labeling a box "spam" and putting the number 42 inside.

**Using and Updating Variables**

Variables can be used in expressions and updated:

In [ ]:
spam = 40
eggs = 2
spam + eggs        # 42
spam + eggs + spam # 82
spam = spam + 2    # Overwrites spam with 42

Reassigning a value to a variable replaces the old one.

In [ ]:
spam = 'Hello'
spam = 'Goodbye'  # 'Hello' is forgotten

**Variable Naming Rules**

---

You can name a variable almost anything, but it must follow these 3 rules:


*  It must be one word (no spaces).
*  It may contain letters, numbers, and underscores (_).
*  It must not start with a number.

In [ ]:
# Variable assignment and usage

# Initial assignments
spam = 40
print("spam:", spam)

eggs = 2
print("eggs:", eggs)

# Using variables in expressions
print("spam + eggs:", spam + eggs)
print("spam + eggs + spam:", spam + eggs + spam)

# Updating (overwriting) a variable
spam = spam + 2
print("Updated spam:", spam)  # Now spam is 42

# Reassigning strings
spam = 'Hello'
print("spam:", spam)

spam = 'Goodbye'
print("spam after overwrite:", spam)

**First Program**

In [5]:
 # This program says hello and asks for my name.
print('Hello world!')
print('What is your name?') # ask for their name
myName = input()
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))
print('What is your age?') # ask for their age
myAge = input()
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

Hello world!
What is your name?
NehaSree
It is good to meet you, NehaSree
The length of your name is:
8
What is your age?
18
You will be 19 in a year.

**Dissecting Your Program**

**Comments**

---

This program says hello and asks for my name.

**Using print()**

---

print('Hello world!')
print('What is your name?')  # Ask for their name

**Getting input from the user**

---

myName = input()
print('It is good to meet you, ' + myName)

**Using len() function**

---

print('The length of your name is:')
print(len(myName))

**Example of type conversion**

---

print('What is your age?')
myAge = input()
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

**Demonstrating errors and fixes**

---

print('I am ' + 29 + ' years old.')  #  This causes a TypeError
print('I am ' + str(29) + ' years old.')  #  Correct way

**More type conversions**

---
print(str(0))        # '0'
print(str(-3.14))    # '-3.14'
print(int('42'))     # 42
print(int(1.99))     # 1
print(float('3.14')) # 3.14
print(float(10))     # 10.0

## Text and Number Equivalence in Python
---
In Python, even if values *look* similar, their **data types** matter for comparisons.

In [6]:
# Comparing string and number
print(42 == '42')        # False — string vs integer

# Comparing integer and float
print(42 == 42.0)        # True — numerically equal

# Comparing float with leading zeros (Python treats 0042.000 as 42.0)
print(42.0 == 42.000)    # True — trailing zeros don't affect value

# Type checking for clarity
print(type(42))          # <class 'int'>
print(type('42'))        # <class 'str'>
print(type(42.0))        # <class 'float'>

False
True
True
<class 'int'>
<class 'str'>
<class 'float'>